In [2]:
import pandas as pd
import numpy as np

In [3]:
stock = np.random.normal(0,1, (10, 5))

In [4]:
stock

array([[ 2.01775336,  0.06906425, -0.1004546 , -0.51560794,  0.77359071],
       [ 1.72794185,  0.34178628, -1.13003794,  0.52434929, -0.58408232],
       [ 1.10286453, -0.82094659,  0.52120972,  1.68683525,  1.30055919],
       [-0.59697309, -0.10312162, -0.35293199,  1.11615674,  2.34354857],
       [ 1.06816715, -0.39841413, -0.12833635, -1.46593273, -0.50044581],
       [ 0.75230392, -0.7133052 , -0.37119898,  0.97116107, -0.34404812],
       [-0.46431526,  0.30212107, -0.00636662, -0.80679232, -0.20885263],
       [-1.73990251,  0.61032493,  0.84083954, -0.33254007,  1.63460927],
       [-0.94527425,  0.17560589,  0.41508101,  0.28550537,  0.42743723],
       [ 1.68244165,  1.13252817,  0.52390178, -0.36255278, -1.24096359]])

In [8]:
stock_rise = pd.DataFrame(stock)

In [10]:
stock_rise

          0         1         2         3         4
0  2.017753  0.069064 -0.100455 -0.515608  0.773591
1  1.727942  0.341786 -1.130038  0.524349 -0.584082
2  1.102865 -0.820947  0.521210  1.686835  1.300559
3 -0.596973 -0.103122 -0.352932  1.116157  2.343549
4  1.068167 -0.398414 -0.128336 -1.465933 -0.500446
5  0.752304 -0.713305 -0.371199  0.971161 -0.344048
6 -0.464315  0.302121 -0.006367 -0.806792 -0.208853
7 -1.739903  0.610325  0.840840 -0.332540  1.634609
8 -0.945274  0.175606  0.415081  0.285505  0.427437
9  1.682442  1.132528  0.523902 -0.362553 -1.240964

In [11]:
stock_rise.shape[0]

10

In [12]:
stock_code = ["股票{}".format(i+1) for i in range(stock_rise.shape[0])]

In [13]:
stock_code

['股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9', '股票10']

In [15]:
pd.DataFrame(stock_rise, index=stock_code)

       0   1   2   3   4
股票1  NaN NaN NaN NaN NaN
股票2  NaN NaN NaN NaN NaN
股票3  NaN NaN NaN NaN NaN
股票4  NaN NaN NaN NaN NaN
股票5  NaN NaN NaN NaN NaN
股票6  NaN NaN NaN NaN NaN
股票7  NaN NaN NaN NaN NaN
股票8  NaN NaN NaN NaN NaN
股票9  NaN NaN NaN NaN NaN
股票10 NaN NaN NaN NaN NaN

In [16]:
pd.DataFrame(stock, index=stock_code)

             0         1         2         3         4
股票1   2.017753  0.069064 -0.100455 -0.515608  0.773591
股票2   1.727942  0.341786 -1.130038  0.524349 -0.584082
股票3   1.102865 -0.820947  0.521210  1.686835  1.300559
股票4  -0.596973 -0.103122 -0.352932  1.116157  2.343549
股票5   1.068167 -0.398414 -0.128336 -1.465933 -0.500446
股票6   0.752304 -0.713305 -0.371199  0.971161 -0.344048
股票7  -0.464315  0.302121 -0.006367 -0.806792 -0.208853
股票8  -1.739903  0.610325  0.840840 -0.332540  1.634609
股票9  -0.945274  0.175606  0.415081  0.285505  0.427437
股票10  1.682442  1.132528  0.523902 -0.362553 -1.240964

In [17]:
date = pd.date_range(start="20190401", periods=stock_rise.shape[1], freq="B")

In [18]:
date

DatetimeIndex(['2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04',
               '2019-04-05'],
              dtype='datetime64[ns]', freq='B')